* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1em;
}

header {
    width: 100%;
    background-color: #444;
    height: 75px;
    line-height: 75px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

nav {
    width: 100%;
    background-color: #555;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

nav a {
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}

section {
    width: 100%;
    height: 600px;
    background-color: #999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

.box_left {
    height: 95%;
    width: 24%;
    background-color: #444;
    padding: 20px;
}

#screen {
    width: 100%;
    height: 50px;
    background-color: #CCC;
    border: 1px solid black;
    margin-bottom: 10px;
    border-radius: 10px;
    line-height: 50px;
    padding-right: 5px;
    text-align: end;
    color: black;
}

#buttons {
    width: 100%;
    height: 300px; 
    background-color: #CCC;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    padding: 5px;
}

#numbers {
    width: 74%; 
    height: 100%; 
    background-color: #999;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

#operations {
    width: 24%;
    height: 100%;
    background-color: #999;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.button {
    width: 27%;
    height: 22%; 
    border: 1px solid black; 
    border-radius: 5px;
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;    
}

.op_button {
    width: 90%;
    height: 18%; 
    border: 1px solid black; 
    border-radius: 5px;
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;    
}





.box_center {
    height: 95%;
    width: 49%;
    background-color: #444;
}

.box_right {
    height: 95%;
    width: 24%;
    background-color: #444;
}

footer {
    width: 100%;
    background-color: #444;
    height: 75px;
    line-height: 75px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 0.9em;
}